[package]
name = "go-away"
version = "0.1.0"
authors = ["Graeme Coupar <grambo@grambo.me.uk>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []

[dependencies]
indenter = "0.3.3"
go-away-derive = { path = "../go-away-derive" }

# Integration Deps
uuid = { version = "0.8", optional = true }
chrono = { version = "0.4", optional = true }

[dev-dependencies]
insta = "1.7.1"