[package]
name = "go-away"
version = "0.1.0"
authors = ["Graeme Coupar <graeme@polyandglot.dev>"]
edition = "2018"
license = "MPL-2.0"
description = "Generates go types from rust types"
homepage = "https://github.com/obmarg/go-away"
documentation = "https://docs.rs/go-away"
repository = "https://github.com/obmarg/go-away"
readme = "../README.md"
keywords = ["golang", "codegen", "generate", "types"]
categories = ["development-tools", "development-tools::ffi", "encoding", "web-programming"]

[features]
default = []

[dependencies]
indenter = "0.3.3"
go-away-derive = { path = "../go-away-derive", version = "0.1.0" }

# Integration Deps
uuid = { version = "0.8", optional = true }
chrono = { version = "0.4", optional = true }

[dev-dependencies]
insta = "1.7.1"
